.logement__card{
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 340px;
    text-decoration: none;
    &__img{
        z-index: 1;
        position: absolute;
        width: 340px;
        height: 340px;
        border-radius: 10px;
        object-fit: cover;
    }
    &__title{
        z-index: 2;
        position: relative;
        color: white;
        font-weight: 700;
        font-size: 18px;
        top: 270px;
        left: 20px;
    }
}