.carrousel{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 1240px;
    height: 415px;
    &__img{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
        object-position: center;
        border-radius: 25px;
    }
    &__arrowLeft{
        position: absolute;
        left: 10px;
        cursor: pointer;
    }
    &__arrowRigth{
        position: absolute;
        right: 10px;
        cursor: pointer;
    }
    &__slideNumber{
        position: absolute;
        color: white;
        bottom: 10px;
        font-size: 18px;
        font-weight: 500;
    }
}

@media(max-width: 1052px){
    .carrousel{
        height: 255px;
        &__img{
            border-radius: 10px;
        }
        &__arrowLeft{
            width: 24px;
            height: 24px;
        }
        &__arrowRigth{
            width: 24px;
            height: 24px;
        }
        &__slideNumber{
            display: none;
        }
    }
}