.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding: 20px;
    margin: auto;
    &__navigation{
        gap: 40px;
        display: flex;
        &__home{
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
        &__about{
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}