.star__container{
    display: flex;
    gap: 5px;
}

.star{
    width: 36px;
    height: 36px;
}

@media(max-width: 1052px){
    .star{
        width: 18px;
        height: 18px;
    }
    .star__container{
        gap: 2px;
    }
}

