
.about{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    margin-bottom: 50px;
    &__banner{
        filter: brightness(150%); 
        width: 100%;
        img{
            position: relative;
        } 
    }
    
    
    &__dropdown{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        width: 1024px;
        &__size{
            width: 100%;
        }
        
    }
}

@media(max-width: 1052px){
    .about{
        margin-bottom: 0px;
        &__dropdown{
            gap: 20px;
            width: 90%;
        }
    }
}